<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<nav class="navbar navbar-light bg-light justify-content-between">
		<a class="navbar-brand">RiverShop</a>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link" href="#">Items</a>
				<a class="nav-item nav-link" href="/loginForm">Login</a>
				<a class="nav-item nav-link disabled" href="#">Disabled</a>
			</div>
			<div>
		<form class="form-inline">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
			</div>
		</div>

	</nav>

	<!-- 부트스트랩 -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<title>Hello, world!</title>
</head>

<body>
<h1>로그인</h1>
<form action="/login" method="post">
	<input type="text" name="username" placeholder="이름을 입력해주세요.">
	<input type= "password" name="password" placeholder="패스워드를 입력해주세요.">
	<input type="email" name="email" placeholder="이메일을 입력해주세요.">
	<input type="text" name="username" placeholder="핸드폰 번호를 입력해주세요.">

	<div class="mdl-card__supporting-text">
		<button type="submit">Submit</button>
	</div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>